extends layout

block content
  #viewreport.container
    .row
      .col-sm-10.col-sm-offset-1
        h3
          | VIEW RREPORT
        hr
        .row
          .row
            #report-desc.col-md-5 Attendance Reports 
            .col-md-7
              .row
                form#login-form(action='', method='', role='form', style='display: block;')
                  .form-group.col-md-8
                    select#event-to-view.form-control
                      option select event
                  .form-group.col-md-4
                    input#btn-view-report.form-control.btn.btn-primary(type='button', name='view', tabindex='4', value='View Report')
          .panel.panel-primary.filterable
            .panel-heading
              h3.panel-title Attendance Report
              .pull-right
                button.btn.btn-default.btn-xs.btn-filter
                  span.glyphicon.glyphicon-filter
                  |  Filter
            table#report-table.table
              thead
                tr.filters
                  th
                    input.form-control(type='text', placeholder='#', disabled='')
                  th
                    input.form-control(type='text', placeholder='Fullnames', disabled='')
                  th
                    input.form-control(type='text', placeholder='Email', disabled='')
                  th
                    input.form-control(type='text', placeholder='Attendance', disabled='')
              tbody
  #viewevent.container(style='display:none')
    .row
      .col-sm-10.col-sm-offset-1
        h3
          | VIEW EVENTS
        hr
        .row
          .row
            .col-md-6 Event List
            .col-md-6
              .row
                form#login-form(action='/createnewevent', method='post', role='form', style='display: block;')
                  .form-group.col-md-4
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#newEvent', style='display: block;') Create Event
                .col-md-4
                    button#viewgraph.btn.btn-primary(type='button', data-toggle='modal', data-target='#graph', style='display: block;') View Graph
          .panel.panel-primary.filterable
            .panel-heading
              h3.panel-title Users
              .pull-right
                button.btn.btn-default.btn-xs.btn-filter
                  span.glyphicon.glyphicon-filter
                  |  Filter
            table#event-table.table
              thead
                tr.filters
                  th
                    input.form-control(type='text', placeholder='#', disabled='')
                  th
                    input.form-control(type='text', placeholder='Event Title', disabled='')
                  th
                    input.form-control(type='text', placeholder='Event Date', disabled='')
                  th
                    input.form-control(type='text', placeholder='Start Time', disabled='')
                  th
                    input.form-control(type='text', placeholder='No of Attendees', disabled='')
              tbody
  //Popup to Create New Event
  #newEvent.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Create Event
        .modal-body
          form#new-event-form(action='/createevent',method='post', role='form', style='display: block;')
            .form-group
              input.form-control(name='eventTitle', type='text', placeholder='New Event')
            .form-group
              input.form-control(name='eventDate', type='text', placeholder='Date')
            .form-group
              input.form-control(name='eventStartTime', type='text', placeholder='StartTime')
            .form-group
              input.form-control(name='eventShortCode', type='text', placeholder='Event Short Code')
            .form-group
              input#create-event.form-control.btn.btn-primary(type='submit', name='Create', tabindex='4', value='Create')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  //Popup to Create New Event
  #graph.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title View Graph
        .modal-body
          canvas#myChart(style='display: block; height: 400px; width: 500px;', width='986', height='986')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close


