extends layout
 
block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-login
          .panel-heading
            if message
              .row
                  .alert.alert-success.col-xs-10.col-xs-offset-1
                    a.close(href='#', data-dismiss='alert', aria-label='close') ×
                    span #{message}
              
            .row
              .col-xs-6
                a#login-form-link.active(href='#') Sign in Attendance
              .col-xs-6
                a#register-form-link(href='#') First Time? Register
            hr
          .panel-body
            .row
              .col-lg-12
                form#login-form(action='/signin', method='post', role='form', style='display: block;')
                  .form-group
                    input#username.form-control(type='text', name='loginEmail', tabindex='1', placeholder='Email Address', value='')
                  .form-group
                    input#password.form-control(type='password', name='loginPassword', tabindex='2', placeholder='Password')
                  .form-group.text-center
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        input#login-submit.form-control.btn.btn-primary(type='submit', name='login-submit', tabindex='4', value='I am Present')
                form#register-form(action='/signup', method='post', role='form', style='display: none;')
                  .form-group
                    input#username.form-control(type='email', name='email', tabindex='1', placeholder='Email', value='')
                  .form-group
                    input#email.form-control(type='password', name='password', tabindex='1', placeholder='Password', value='')
                  .form-group
                    input#password.form-control(type='password', name='confirmpassword', tabindex='2', placeholder='Confirm-Password')
                  .form-group
                    input#confirm-password.form-control(type='text', name='fullname', tabindex='2', placeholder='Full Names')
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        input#register-submit.form-control.btn.btn-primary(type='submit', name='register-submit', tabindex='4', value='Register Now')


  

