doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/app.styles.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/sleeknav.js')
    script(src='/vendor/Chart.js')



  body
    //- nav bar begin
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Event Attendance Register
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li#report.active
              a(href='#') View Report
            li#events
              a(href='#') View Events
            li.divider
            //- li#settings
            //-   a(href='#') Settings
          ul.nav.navbar-nav.navbar-right
            li#logout
              a(href='/signout')
                span.glyphicon.glyphicon-log-out
                |  Logout
              //- navbar end
    .header.container-fluid
      block subheader
    .container
      if (status)
        .row
            .alert.alert-success.col-xs-10.col-xs-offset-1
              a.close(href='#', data-dismiss='alert', aria-label='close') ×
              span #{status}

      block content
    //- if settings.env == 'development'
    //- //- script(src='http://localhost:35729/livereload.js')
    //- //- script(src='/js/app.min.js')
    script(src='/js/main.js')
    //- Fixes hidden table's buttom
    .clearfix(style='padding-top: 80px;')
    footer.footer.navbar.navbar-inverse.navbar-fixed-bottom
      br
      h5.text-center.text-primary
        a(href='admin')  ! rights reserved 
        | | (c) BootCamp 2016
